html,body,h1,h2,h3,h4,h5,h6,p,div,span,b,i,a,em,strong,input,button,header,footer,nav,ul,ol,li,dl,dt,dd,fieldset, form, label,legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure
{
	margin: 0;
	padding:0;
	font-family: 'Microsoft Yahei', '微软雅黑', Arial, sans-serif; 
}
body {
  background: #fbfbfb;
  word-wrap: break-word;
  border: 0;
  outline: 0;
  color: #333;
}
a{
	display: inline-block;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: 0;
}
//清除浮动
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.left{
  float: left;
}
.right{
  float: right;
}
input,select{
  background: #efefef;
  border:1px solid #ddd;
}