/*task0002_1 css*/
body {
    background-color: #e2e2e2;
    font-family: 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
.hobby-list {
    width: 980px;
    margin: 0 auto;
}
#user_input {
    width: 980px;
    height: 200px;
}
.action {
    position: relative;
}
#warn {
    color: red;
    padding: 5px;
    position: absolute;
    top: -48px;
}
#btn {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100px;
    height: 28px;
    background-color: #fff;
    border-radius: 6px;
    color: #666;
    padding: 6px 24px;
    border: none;
    outline: none;
}
label {
    display: block;
}
/*task0002_2 css*/
.count-down {
    width: 980px;
    margin: 0 auto;
}
.time-input {
    width: 980px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 16px;
    outline: none;
}
.time-btn {
    display: block;
    margin-top: 10px;
    width: 100px;
    height: 28px;
    background-color: #fff;
    border-radius: 6px;
    color: #666;
    padding: 6px 24px;
    border: none;
    outline: none;
    cursor: pointer;
}
.show-time {
    font-size: 18px;
    color: #000;
    display: inline-block;
    margin-top: 10px;
}
/*task0002_3 css*/
*{
    margin: 0;
    padding: 0;
}
.slide-img {
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
}
.slide-img .container {
    width: 600px;
    height: 375px;
    overflow: hidden;
    position: relative;
}
.slide-img .slide-nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 2%;
    list-style-type: none;
}
.slide-nav li {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-left: 5px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    text-indent: -999px;
}
.slide-nav li.active {
    background-color: #4abce6;
}
.slide-img .slide {
    list-style-type: none;
    width: 4200px;
    height: 375px;
    position: absolute;
}
.slide li {
    float: left;
}
.slide a {
    display: inline-block;
    width: 600px;
    height: 375px;
}
.slide img {
    display: inline-block;
    width: 600px;
    height: 375px;
}
.chooce {
    margin-top: 10px;
    height: 28px;
}
.chooce button{
    display: inline-block;
    width: 100px;
    height: 28px;
    background-color: #fff;
    border-radius: 6px;
    color: #666;
    padding: 6px 24px;
    border: none;
    outline: none;
    cursor: pointer;
}
.chooce input {
    border-radius: 6px;
    border: 0px;
    height: 28px;
    outline: none;
    padding-left: 10px;
    width: 90px;
}